@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*  colors */
:root {
  --green: #92bc53;
  --red: #b44951;
  --orange: #f3b45a;
  --White: #ffffff;
  /* (with 75% opacity for lightbox background) */
  --Black: #000000;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
}
